.form {
  width: fit-content;
}

.form-item {
  padding-top: 20px;
}

.form-header {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.form-label {
  font-weight: normal;
}

.form-label,
.form-check-label {
  font-size: 16px;
}

.form-indent {
  margin-left: 20px;
}
